
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}


:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);

  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}


body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: var(--cream);
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  padding: 1rem;
}

.card {
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  max-width: 375px;
}


.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.card-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category {
  letter-spacing: 5px;
  font-size: 12px;
  color: var(--grey);
}

.title {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  line-height: 1;
  color: var(--black);
}

.description {
  color: var(--grey);
  line-height: 1.6;
}


.price {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price-new {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: var(--green-500);
}

.price-old {
  text-decoration: line-through;
  color: var(--grey);
}


.btn {
  margin-top: 0.5rem;
  border: none;
  background-color: var(--green-500);
  color: var(--white);
  font-weight: 700;
  padding: 1rem;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--green-700);
}


@media (min-width: 600px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
  }

  .card-content {
    padding: 2rem;
  }
}
